:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #222;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 400px;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #673ab8;
}

header nav {
    display: flex;
}

header a {
    color: #fff;
    padding: 0.75rem;
    text-decoration: none;
}

header a.active {
    background-color: #0005;
}

header a:hover {
    background-color: #0008;
}

main {
    flex: auto;
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 639px) {
    main {
        margin: 2rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #ccc;
        background-color: #1a1a1a;
    }
}

/* New styles for App component */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 80%;
    height: 18px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

.input:focus,
.input:active {
    outline: none;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.button {
    width: 80%;
    margin-bottom: 5%;
    height: 30px;
}

.label {
    align-self: flex-start;
    margin-left: 10%;
}

#api-response-label {
    margin-top: 5%;
    margin-bottom: 0%;
}

.result-text {
    align-self: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
}

.spacer {
    flex-grow: 1;
}

/* New styles for the selected tab */
.Mui-selected {
    color: #0696D7 !important; /* Change 'blue' to your desired color */
}

/* Styles for the tab indicator */
.MuiTabs-indicator {
    background-color: #0696D7 !important; /* Change 'blue' to your desired color */
    height: 3px; /* Adjust the height of the indicator */
}